body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: #858282;
  
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.header-logo {
}
.header-content-row {
  display: flex;
  align-items: center;
  gap: 10px;
}
.search-bar {
  border-radius: 8px;

  position: relative;
  width: clamp(1px, 60vw, 300px);; 
   background: #ffffff;
}

.search-bar button {
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
}
.input-search {
  border-radius: 8px;
  height: 30px;
 width: 90%;
}
.input-search::placeholder{
  padding: 5px 5px;
}
.icons {
}
.shopping-cart svg{
  width: 40px;
  height: 40px;
}
.filter-container {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto 10px  ;
}



.series-list {
  display: flex;
  gap: 10px;
}

.series-item {
  cursor: pointer;
  background: #ffffff;
  border-radius:15px;
  font-size: 16px;
  padding: 8px 15px;
}
.series-item.active{
  color: #ffffff;
  background: #000;
}
.prise-select select {
  background: #ffffff;
  width: clamp(1px, 60vw, 200px);;
  padding: 8px 15px;
  border-radius:15px;


}
.filter-price-inputs {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.filter-price-label {
  padding: 8px 15px;
  border-radius:15px;
  background: #ffffff;
}
.filter-text {
}
.filter-price-input {
}
.products-container {
  display: flex;
  justify-self: center;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}
.js-products-list {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 290px));
  justify-content: center;
}
.js-product-item {
  background: #ffffff;
  border: 1px solid rgba(3, 3, 3, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding-bottom: 10px;
}
.product-image {
}
.image-card {
  width: 100%;
  height: 300px;
}
.product-description {
}
.product-title {
  font-size: 24px;
  font-weight: 500;
}
.product-price {
  font-weight: 600;
}
.price {
  margin-right: 5px;
}
.buy-button {
  border: 1px black solid;
  font-size: 20px;
  font-weight: 600;
  width: 150px;
  height: 40px;
}
body input {
  background: #ffffff;
}



.shoping-container {
  display: none;
  position: fixed;
  background: #ffffff;
  right: 0;
  top: 0;
  width: 300px;
  height: 100%;
  border: 1px solid royalblue;
}
.shoping-row {
}
.shoping-list {
}
.shop-list-item {
}
.shoping-card-title {
}
.shoping-card-text {
}
.shoping-card-price {
}

























@media( max-width: 870px){
  .filter-container{
    flex-direction: column;
    height: 120px;
  }
  .series-item {
    border-radius:10px;
    font-size: 12px;
    padding: 8px;
  }
  .prise-select select {
    width: clamp(1px, 60vw, 200px);;
    border-radius:10px;
    font-size: 12px;
    padding: 8px;
  
  
  }

  .series-list {
    gap: 10px;
  }

  .filter-price-inputs {
    gap: 3px;
  }
  .filter-price-label {
    padding: 8px;
    border-radius:10px;
  }

}
